.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: auto;
    margin: 100px auto;
}

.form-wrap {
    width: inherit;
    background: whitesmoke;
    padding: 10px 10px;
}

.form {
    width: 245px;
    padding: 10px 5px;
}

.button,
.button-digit {
    border: 1px solid whitesmoke;
    background: skyblue;
    width: 70px;
    cursor: pointer;
    padding: 10px 0;
}

.button-reset {
    border: 1px solid whitesmoke;
    background: orange;
    width: 280px;
    cursor: pointer;
    padding: 10px 0;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1.1);
}

.button-reset:active {
    transform: scale(1.03);
}